@mixin box{
  border: solid 2px #878787;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 5px;
  font-size: 16px;
}

.field {
  text-align: left;
  margin: 10px;
  background-color: #ffcc80;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  .submit{
    float: right;
    @include box;
    width: 100px;
  }
  span {
    margin-left: 30px;
  }
}

.field_admin {
  display: flex;
  margin: 20px;
  span {
    font-size: 20px;
    font-weight: bold;
  }
  .field_admin_menu {
    width : calc(100% / 3);
    li {
     margin: 50px 0;
    }
  }
}

.field_new {
  text-align: center;
  margin: 50px 0;
  span {
    margin: 20px;
  }
}
.new_box {
  @include box;
  padding: 3px;
  font-weight: bold;
}

#loading_box_1, #loading_box_2, #discharging_box_1, #discharging_box_2{
  display: none;
  width: 200px;
  span {
    margin: 20px;
  }
}



.num_box{
  @include box;
  width: 50px;
}

.select_box{
  @include box;
  width: 130px;
}

.date_box{
  @include box;
  width: 150px;
}

.simple_submit {
  @include box;
  width: 200px;
}

.field_show {
  width: 80%;
  text-align: left;
  margin: 20px;
  font-size: 16px;
  span {
    margin-left: 15px;
  }
}

