@mixin box{
  border: solid 2px #878787;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 5px;
  font-size: 16px;
}

.field {
  text-align: left;
  margin: 10px;
  background-color: #ffcc80;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  .submit{
    float: right;
    @include box;
    width: 100px;
  }
  span {
    margin-left: 30px;
  }

}

.field_new {
  text-align: center;
  margin: 50px 0;
  span {
    margin: 20px;
  }
}
.new_box {
  @include box;
  padding: 3px;
  width: 30%;
  font-weight: bold;
}

.num_box{
  @include box;
  width: 50px;
}

.select_box{
  @include box;
  width: 130px;
}

.date_box{
  @include box;
  width: 150px;
}

.simple_submit {
  @include box;
  width: 200px;
}



