<div id="header">
  <div class="container">
      <ul class="top-nav">
        <li>
        <a href="#">こんにちは</a>
        <a href="#">ばんわばんわ</a>
        </li>
      </ul>
    <a class="logo-text">川崎港コンテナターミナル</a>
  </div>

  <div class="header-nav">
      <div class="navbar-main">
        <li>こんにちは</li>
        <li>こんばんわ</li>
      </div>
  </div>
</div>
